.square-slider-block {
    margin: 6rem 0;
    overflow: hidden;
}
.square-slider__container {
    padding-left: 4.2rem;
    width: 100%;
    padding: 0 2rem;
    overflow: visible;

}
.flickity-enabled.is-draggable {
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
}
.flickity-viewport{
    height: 537.594px;
    touch-action: pan-y;
}

.flickity-enabled.is-draggable .flickity-viewport {
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab;
}
[data-js="square-slider"] .flickity-viewport {
    overflow: visible;
}
.flickity-viewport {
    overflow: hidden;
    position: relative;
    height: 100%;
}
.flickity-slider {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    transform: translateX(0%);

}
.square-slider__slide::before {
    content: '';
    display: block;
    padding-bottom: 100%;
}
.square-slider__slide {
    width: 42vw;
    max-width: 40.625rem;
    position: absolute;
    left: 0px;
    transform: translateX(0%);
    margin-right: 2rem;
}
.square-slider__slide img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
img {
    height: auto;
    max-width: 100%;
}
.venue-sq-preview__overlay, .venue-sq-preview__content, .venue-sq-preview__btn {
    opacity: 0;
    transition: opacity 450ms linear;
    background: linear-gradient(0deg, rgba(193, 86, 39, 0.7) 0%, rgba(193, 86, 39, 0.7) 100%);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.venue-sq-preview__btn {
    
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.btn-outline {
    background-color: transparent;
    border-radius: 30px;
    padding: 10px 60px 10px 40px;
    text-wrap: nowrap;
    position: relative;
    text-transform: uppercase;
    font-family: "futura-pt", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    text-decoration: none;
    color: #C15627;
    border: solid 1px #C15627;
    transition: .2s;
    cursor: pointer;
    position: relative;
    display: inline-block;
    z-index: 2;
}

.btn-outline.white {
    background-color: transparent;
    color: #FFF;
    border: solid #FFF 1px;
}