.ufv-carousel-container {
  width: 100%;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: #1A4122 transparent;
  position: absolute;
  z-index: 9997;
  top: 0;
  overflow-x: scroll!important;
  left: 5%;
  padding-bottom: 5vh;
}

.ufv-scroll {
  display: flex;
  overflow-x: scroll!important;
}

.ufv-item {
  position: relative;
  margin-right: 20px;
  cursor: pointer;
  flex: 0 0 calc(25% - 20px); /* Adjust this value to show 4 images */
}

.ufv-item img {
  width: 50vw;
  height: 70vh;
}

.ufv-hovered {
  filter: brightness(0.8);
}

.ufv-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background:  linear-gradient(0deg, rgba(193, 86, 39, 0.5) 0%, rgba(193, 86, 39, 0.5) 100%);
  padding: 10px;
  color: white;
  display: none;
  width: 100%;
  height: 100%;
  
}

.ufv-item:hover .ufv-overlay {
  display: block;
  opacity: 0.5;
}

/* Custom scrollbar */
.ufv-carousel-container::-webkit-scrollbar {
  width: 2px;
  margin-top: 5vh!important;
  position: absolute;
  z-index: 9999;
}

.ufv-carousel-container::-webkit-scrollbar-track {
  background: #647B4E!important;
}

.ufv-carousel-container::-webkit-scrollbar-thumb {
  background-color: #1A4122;
  border-radius: 2px;
  border: 2px solid transparent;
}

.ufv-carousel-container::-webkit-scrollbar-thumb:hover {
  background-color: #647B4E;
}
.nnn{
  font-family: "F37 Caslon", serif;
    line-height: 1.1;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2rem;
    font-weight: 400;
    padding-bottom: 0.375rem;
    position: absolute;
    bottom: 20%;
    z-index: 9998;

}
.vvv{
  width: 100%;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ffffff;
    padding: 0.9375rem 0 0;
    font-family: "futura-pt", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.07em;
    font-size: 1rem;
    position: absolute;
    bottom: 5%;
    z-index: 9998;
}

/*media Querie4s */

@media (max-width: 991.98px) { 
  .ufv-item img {
    width: 35vw;
    height: 21vh;
  }

 }
@media (max-width: 767.98px) { 
  .ufv-item img {
    width: 75vw;
    height: 30vh;
  }

 }

 



